name: Update Icon Database

on:
  schedule:
    - cron: "0 0 * * FRI"
  workflow_dispatch:

jobs:
  generate-image:
    runs-on: ubuntu-20.04
    name: Generate React Icons Image
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.18.0"

      - name: Install Library
        run: |
          make node-lib

      - name: Generate Image
        run: |
          node node-script/image-generator/index.js --size 50 --color black --pad_size 50

      - name: Upload artifact - react-icons-image
        uses: actions/upload-artifact@v3
        with:
          name: react-icons-image
          path: node-script/image-generator/dist.zip

  generate-checksum:
    runs-on: ubuntu-20.04
    needs: ["generate-image"]
    name: Generate React Icons Image Checksum
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Generate Checksum
        run: |
          python py-script/checksum-gen.py

      - name: Upload artifact - react-icons-image
        uses: actions/upload-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/checksum.json

  update-database-embedding-pixel-dot:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using PixelEmbedder on Dot Product Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing dot

  update-database-embedding-pixel-cosine:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using PixelEmbedder on Cosine Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing cosine

  update-database-embedding-pixel-euclid:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using PixelEmbedder on Euclidean Distance Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing euclid

  update-database-embedding-cnnfigr8-euclid:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using CNNFigr8Embedder on Euclidean Distance Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing euclid --embedder CNNFigr8Embedder

  update-database-embedding-cnnfigr8-cosine:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using CNNFigr8Embedder on Cosine Distance Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing cosine --embedder CNNFigr8Embedder

  update-database-embedding-cnnfigr8-dot:
    needs: ["generate-image", "generate-checksum"]
    runs-on: ubuntu-20.04
    name: Update Icon Embedding to Database using CNNFigr8Embedder on Dot Product Indexing
    env:
      QDRANT_ENDPOINT: ${{ secrets.QDRANT_ENDPOINT }}
      QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifact - react-icons-image
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image
          path: py-script/

      - name: Download artifact - react-icons-image-checksum
        uses: actions/download-artifact@v3
        with:
          name: react-icons-image-checksum
          path: py-script/

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Library
        run: |
          make python-lib

      - name: Update Embedding Database
        run: |
          python py-script/embed-gen.py --indexing dot --embedder CNNFigr8Embedder
