{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
  "^@react",
  "^@/lib/(.*)$",
  "^@/types/(.*)$",
  "^@/modules(.*)$",
  "^@/components/(.*)$",
  "^@/styles/(.*)$",
  "^[@/]",
  "^[@/(.*)$]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
  }